.navbar-inner{
  background-image: -moz-linear-gradient(center top, #44aE7C, #006E3C);
  background-color: #006E3C;
  color:black;
}

.navbar .brand{
  color:white;
}

.navbar .nav .active >a{
  background:none;
  /*background:#228E5C;*/
  border-left:1px solid white;
  border-right:1px solid white;
}


.navbar .nav .active >a:hover{
  background:none;
  background-image: -moz-linear-gradient(center top, #228E5C, #004E1C);
  border-left:1px solid white;
  border-right:1px solid white;
}

#main_container{
  margin-top:80px;
}

#twitter_account,#post{
  position:absolute;
  top:100px;
}
#twitter_account .hero-unit, #post .hero-unit{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
}

#category_timeseries{
  height:400px;
}

.twitter_account{
  cursor:pointer;
}
.twitter_account:hover{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 -1px 0 rgba(0, 0, 0, 0.25) inset;
  background:#666;
}

td.post_title:hover{
  background:#eee;
  cursor:pointer;
}
a.label{
  margin:2px;
}

.twitter_account_template{
  display:inline-block;
}

.post_title{
  font-size:80%;
}

#category_stats div{
  margin:15px;
}

.category_label{
  font-size:42px;
  color:#999;
}

.category_value{
  font-size:42px;
  font-weight:bold;
}

/*for the graphs*/
.nvtooltip{
  margin-left:100px;
  padding:10px;
  background:#eee;
  border:1px solid #aaa;
  border-radius:10px;
  font-size:150%;
}
